/* Global Input Styles - Applied to all text inputs across the app */

.text-input input::placeholder {
  color: var(--gray-12) !important;
  font-weight: 500 !important;
}

.text-input input {
  border-color: var(--gray-10) !important;
  outline: 0px solid var(--blue-7) !important;
  outline-offset: 0px;
  transition: border-color 80ms ease, outline-width 80ms ease !important;
  padding: 12px 16px !important;
}

.text-input input:hover {
  border-color: var(--blue-10) !important;
}

.text-input input:focus {
  border-color: var(--blue-10) !important;
  outline: 2px solid var(--blue-7) !important;
}

/* Currency Select with Flag - Extra padding when flag is shown */
.currency-select-with-flag input {
  padding-left: 42px !important;
}

/* OTP/Pin Input Styles - Applied to PinInput with .otp-input class */
.otp-input input {
  border-color: var(--gray-10) !important;
  outline: 0px solid var(--blue-7) !important;
  outline-offset: 0px;
  transition: border-color 80ms ease, outline-width 80ms ease !important;
}

.otp-input input:hover {
  border-color: var(--blue-10) !important;
}

.otp-input input:focus {
  border-color: var(--blue-10) !important;
  outline: 2px solid var(--blue-7) !important;
}

/* OTP Input Error State */
.otp-input-error input {
  border-color: var(--red-8) !important;
}

.otp-input-error input:hover {
  border-color: var(--red-8) !important;
}

.otp-input-error input:focus {
  border-color: var(--red-8) !important;
  outline: 2px solid var(--red-3) !important;
}

/* Checkbox Styles - Match input border colors */
input[type="checkbox"] {
  border-color: var(--gray-10) !important;
  transition: border-color 80ms ease !important;
}

input[type="checkbox"]:hover {
  border-color: var(--blue-10) !important;
}

input[type="checkbox"]:checked {
  border-color: var(--blue-10) !important;
}
